html {
  overflow: hidden;
}

body {
  position: relative;
  width: 100%;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

html,
body {
  height: 100%;
}

body.show-blog #blog {
  transform: translateX(-100vw) translateY(-100vh);
}

body.show-blog #container {
  transform: translateX(-100vw) translateY(-100vh);
}

#blog,
#container {
  margin-top: 2em;
  height: 80%;
}

#container {
  display: flex;
  flex-direction: column;
  transition: transform 400ms linear 100ms;
}

#blog {
  overflow: scroll;
  transition: transform 500ms;
  position: absolute;
  top: 100vh;
  left: 100vw;
  width: 50%;
  margin-left: 10%;
  padding: 1em;
  background: rgba(255, 255, 255, 0.6);
  color: #444;
  columns: 18em;
}

#blog p {
  line-height: 1.4;
}

#blog hr {
  width: 100%;
  border-color: #b3e5fc;
}



h1 {
  text-align: center;
  font-size: 6em;
  animation: rainbows 20s infinite;
}

a {
  color: #111;
  text-decoration: none;
  border-bottom: 2px solid #b3e5fc;
  box-shadow: inset 0 -4px 0 #b3e5fc;
  transition: background .1s ease-out;
}

a:hover {
  background: #b3e5fc;
}

nav {
  margin: auto;
  font-size: 3em;
}

nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin: 1ex;
}

nav a:hover {
  opacity: 1;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

@media only screen and (min-width: 480px) {}

@media only screen and (max-width: 1210px) {
  pre {
    width: 100%;
    font-size: 1.2em;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 1000px) {
  pre {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 800px) {
  pre {
    font-size: 0.6em;
    float: left;
    clear: both;
    text-align: left;
  }
  nav a {
    float: left;
    clear: both;
    text-align: left;
  }
}

@keyframes rainbows {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  56% {
    color: blue;
  }
  70% {
    color: indigo;
  }
  84% {
    color: violet;
  }
  100% {
    color: red;
  }
}


