@import './node_modules/tachyons/css/tachyons.css';

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  @extend .sans-serif;
  @extend .black;
  @extend .bg-white;
  cursor: url(./img/avatar-sm.png) 10 10, auto;
}

h1 { @extend .f1; }
h2 { @extend .f2; }
h3 { @extend .f3; }

ul {
  list-style: circle;
}

a {
  @extend .near-black;
  text-decoration: none;
  border-bottom: 0.125em solid #cdecff;
  box-shadow: inset 0 -0.25em 0 #cdecff;
  transition: all .1s ease-out;
}

a.none {
  @extend .near-black;
  text-decoration: none;
  border-bottom: none;
  box-shadow: none;
}

a:hover {
  background: #cdecff;
}

details[open] summary:active,
details summary:focus {
  outline: none;
  text-decoration: underline;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary:before {
  content: '▶';
  display: inline-block;
  transform-origin: 7px 12px;
  @extend .pr2;
  animation: closeDetails 400ms;
  animation-fill-mode: both;
}

@keyframes closeDetails {
  from { transform: rotate(90deg); }
  to { transform: rotate(0); }
}

@keyframes openDetails {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: rotate(90deg) scale(1);
  }
}

details[open] summary:before {
  animation: openDetails 400ms;
  animation-fill-mode: forwards;
  @extend .red;
}

a, details > summary {
  cursor: url(./img/avatar-pointer.png) 10 10, auto;
}



sup {
  font-size: 0.75rem;
  font-weight: normal;
}

sup > a {
  text-decoration: underline;
  border: none;
  box-shadow: none
}


body > header li {
  @extend .mv2;
}

section > ol > li,
section > ul > li {
  @extend .measure;
  @extend .mv2;
}

i {
  @extend .measure;
  @extend .mv2;
}

section cite {
  @extend .fr;
}

body > footer {
  @extend .f6;
}

body > footer > ol > li {
  /*@extend .measure;*/
  @extend .mv1;
}

body > footer > ol > li:target {
  color: #D62288;
}

/* posts */

article {
  @extend .f5;
  @extend .mv4;
}

article > h2 {
  @extend .red;
}

article > h2:hover {
  animation: rainbows 8s infinite;
  animation-direction: initial;
}

article p {
  /*@extend .serif;*/
  /*@extend .measure;*/
  @extend .lh-copy;
}

article li {
  /*@extend .measure;*/
  @extend .mv1;
  @extend .lh-copy;
}


article aside,
article footer {
  @extend .f6;
  @extend .gray;
  @extend .mv4;
}

.b--rainbows {
  animation: border-rainbows 16s infinite;
  animation-direction: initial;
}

article blockquote {
  @extend .f3;
  @extend .mv3;
  @extend .i;
  /*@extend .garamond;*/
  /*@extend .measure;*/
  @extend .mh0;
  @extend .pl3;
  @extend .bl;
  @extend .b--rainbows;
  @extend .lh-title;
}

article:before {
  content: "∴";
  display: block;
  text-align: center;
  /*@extend .measure;*/
}

article fieldset {
  @extend .w-100;
  @extend .w5-ns;
  @extend .fr;
  @extend .mv4;
  @extend .mv0-ns;
}

article fieldset ul,
article fieldset li {
  margin: 0;
}

.dust {
  position: fixed;
  @extend .absolute--fill;
  z-index: -2;
}

main {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -7rem;
}

main:after {
  content: '';
  display: block;
  height: 7rem;
}

body > footer:hover {
  opacity: 100;
}

body > footer > nav > div:hover .grow {
  transform: scale(1.6);
}

.pre-code {
  animation: bg-rainbows 120s;
  animation-direction: initial;
  @extend .ba;
  @extend .br1;
  @extend .b--black-10;
  line-height: 1.1rem;
  cursor: text;
}

article > p > code {
  font-size: 0.8125rem;
  @extend .pa1;
  @extend .pre-code;
}

article > pre {
  font-size: 0.8125rem;
  @extend .pa3;
  @extend .pre-code;

}

@keyframes bg-rainbows {
  0%    { background-color: #F6FFFE; }
  20%   { background-color: #E8FDF5; }
  40%   { background-color: #FFFCEB; }
  60%   { background-color: #FFDFDF; }
  80%   { background-color: #EEEEEE; }
  100%  { background-color: #F6FFFE; }
}

@keyframes rainbows {
  0%    { color: #ff4136; }
  33%   { color: rgb(255, 217, 102); }
  66%   { color: rgb(0, 240, 77); }
  100%  { color: #ff4136; }
}

@keyframes border-rainbows {
  0%    { border-color: rgba(0, 14, 96, 10); }
  25%   { border-color: rgb(255, 0, 94); }
  50%   { border-color: rgb(255, 217, 102); }
  75%   { border-color: rgb(0, 240, 77); }
  100%  { border-color: rgba(0, 14, 96, 10); }
}
