@import './node_modules/tachyons/css/tachyons.css';

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  @extend .sans-serif;
  @extend .black;
  @extend .bg-white;
  cursor: url(./img/avatar-sm.png) 10 10, auto;
}

h1 { @extend .f1; }
h2 { @extend .f2; }
h3 { @extend .f3; }

ul {
  list-style: circle;
}

a {
  @extend .near-black;
  text-decoration: none;
  border-bottom: 0.125em solid #cdecff;
  box-shadow: inset 0 -0.25em 0 #cdecff;
  transition: all .1s ease-out;
}

a:hover {
  background: #cdecff;
}

details[open] summary:active,
details summary:focus {
  outline: none;
  text-decoration: underline;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary:before {
  content: '▶';
  display: inline-block;
  transform-origin: 7px 12px;
  @extend .pr2;
  animation: closeDetails 400ms;
  animation-fill-mode: both;
}

@keyframes closeDetails {
  from { transform: rotate(90deg); }
  to { transform: rotate(0); }
}

@keyframes openDetails {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: rotate(90deg) scale(1);
  }
}

details[open] summary:before {
  animation: openDetails 400ms;
  animation-fill-mode: forwards;
  @extend .red;
}

a, details > summary {
  cursor: url(./img/avatar-pointer.png) 10 10, auto;
}



sup {
  font-size: 0.75rem;
  font-weight: normal;
}

sup > a {
  text-decoration: underline;
  border: none;
  box-shadow: none
}


body > header li {
  @extend .mv2;
}

section > ol > li,
section > ul > li {
  @extend .measure;
  @extend .mv2;
}

i {
  @extend .measure;
  @extend .mv2;
}

section cite {
  @extend .fr;
}

body > footer {
  @extend .f6;
}

body > footer > ol > li {
  /*@extend .measure;*/
  @extend .mv1;
}

body > footer > ol > li:target {
  color: #D62288;
}

/* posts */

article {
  @extend .f5;
  @extend .mv4;
}

article > h2 {
  @extend .red;
}

article p {
  /*@extend .serif;*/
  /*@extend .measure;*/
  @extend .lh-copy;
}

article li {
  /*@extend .measure;*/
  @extend .mv1;
  @extend .lh-copy;
}


article aside,
article footer {
  @extend .f6;
  @extend .gray;
  @extend .mv4;
}

article blockquote {
  @extend .f3;
  @extend .fw6;
  @extend .mv3;
  /*@extend .measure;*/
  @extend .lh-title;
}

article:before {
  content: "∴";
  display: block;
  text-align: center;
  /*@extend .measure;*/
}

article fieldset {
  @extend .w-100;
  @extend .w5-ns;
  @extend .fr;
  @extend .mv4;
  @extend .mv0-ns;
}

article fieldset ul,
article fieldset li {
  margin: 0;
}

.dust {
  position: fixed;
  @extend .absolute--fill;
  z-index: -2;
}

@media (max-width: 24rem) {
  ol, ul {
    list-style-position: inside;
    padding: 0;
  }
}


main {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -7rem;
}

main:after {
  content: '';
  display: block;
  height: 7rem;
}

body > footer:hover {
  opacity: 100;
}

body > footer > nav > div:hover .grow {
  transform: scale(1.6);
}
