@import './node_modules/tachyons/css/tachyons.css';

body {
  @extend .mw7;
  @extend .ma3;
  @extend .ma4-ns;
  @extend .sans-serif;
  cursor: url(./img/avatar-sm.png) 10 10, auto;
  background: white;
}

h1 {
  @extend .f1;
}

h2 {
  @extend .f2;
}

h3 {
  @extend .f3;
}

ul {
  list-style: circle;
}

a {
  color: #444;
  text-decoration: none;
  border-bottom: 0.125em solid #CDECFF;
  box-shadow: inset 0 -0.25em 0 #CDECFF;
  transition: all .1s ease-out;
}

a, details > summary {
  cursor: url(./img/avatar-pointer.png) 10 10, auto;
}

a:hover {
  background: #CDECFF;
}

sup {
  font-size: 0.75rem;
  font-weight: normal;
}

sup > a {
  text-decoration: underline;
  border: none;
  box-shadow: none
}


body > header li {
  @extend .mv2;
}

section > ol > li,
section > ul > li {
  @extend .measure;
  @extend .mv2;
}

i {
  @extend .measure;
  @extend .mv2;
}

section cite {
  @extend .fr;
}

body > footer {
  @extend .f6;
}

body > footer > ol > li {
  @extend .measure;
  @extend .mv1;
}

body > footer > ol > li:target {
  color: #D62288;
}

/* posts */

article {
  @extend .f5;
  @extend .mv4;
}

article > h2 {
  @extend .red;
}

article p {
  /*@extend .serif;*/
  @extend .measure;
  @extend .lh-copy;
}

article li {
  @extend .measure;
  @extend .mv1;
  @extend .lh-copy;
}


article aside,
article footer {
  @extend .f6;
  @extend .gray;
}

article blockquote {
  @extend .f3;
  @extend .fw6;
  @extend .mv3;
  @extend .measure;
  @extend .lh-title;
}

article:before {
  content: "∴";
  display: block;
  text-align: center;
  @extend .measure;
}

article fieldset {
  @extend .w-100;
  @extend .w5-ns;
  @extend .fr;
  @extend .mv4;
  @extend .mv0-ns;
}

article fieldset ul,
article fieldset li {
  margin: 0;
}

.dust {
  position: fixed;
  @extend .absolute--fill;
  z-index: -2;
}

@media (max-width: 24rem) {
  ol, ul {
    list-style-position: inside;
    padding: 0;
  }
}
