html, body {
  height: auto;
  min-height: 100%;
}

html {
  cursor: url(avatar-sm.png) 10 10, auto;
}

body {
  max-width: 32rem;
  margin: 0 auto 2rem;
  padding: 0 1rem;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

ol, ul {
  padding-left: 0;
  list-style-position: inside;
}

ul {
  list-style-type: circle;
}

li {
  padding-bottom: 0.5rem;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
}

sup {
  font-size: 0.75rem;
  font-weight: normal;
}

a {
  color: #444;
  text-decoration: none;
  border-bottom: 2px solid #b3e5fc;
  box-shadow: inset 0 -4px 0 #b3e5fc;
  transition: background .1s ease-out;
  cursor: url(avatar-pointer.png) 10 10, auto;
}

a:hover {
  background: #b3e5fc;
}

/*
  Responsize Overrides
*/

@media (min-width: 32rem) {
    ol, ul {
      padding-left: 1rem;
      list-style-position: outside;
    }
}

@media (min-width: 50rem) {
    body {
      max-width: 50rem;
    }
}

/*
  index.html
*/

del:hover {
  text-decoration: none;
}

fieldset {
  float: right;
  font-size: 85%;
  color: #ababab;
  border: 1px solid #ababab;
  padding: 0.5rem 1rem;
  min-width: 6rem;
}

fieldset ul {
  margin: 0;
}

fieldset ul li {
  padding: 0;
}

/*
  cv.html
*/

h1 > sup {
  position: relative;
  top: -10px;
}

sup > a {
  text-decoration: underline;
  border: none;
  box-shadow: none;
  background: none;
}

cite {
  float: right;
}

section:last-of-type {
  font-size: 85%;
}
