<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="author" content="Samuel Breed">
    <meta name="description" content="<%= title %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../docs/style.css">
  </head>
  <body>
    <header>
      <a href="/">Back</a>
    </header>

    <section class="posts">
      <%- include('./post_body.html') -%>
    </section>

    <div class="dust"></div>
    
    <script src="../cursor-dust.js"></script>
  </body>
</html>
