<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="author" content="Samuel Breed">
    <meta name="description" content="<%= title %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../docs/style.css">
  </head>
  <body>
    <header>
      <a href="/">Back</a>
    </header>

    <section class="posts">
      <%- include('./post_body.html') -%>
    </section>

    <div class="dust"></div>

    <script>
    (function(w,oo,k,ie,hang,ov,er){w['GoogleAnalyticsObject']=hang;w[hang]=w[hang]||function(){
    (w[hang].q=w[hang].q||[]).push(arguments)},w[hang].l=1*new Date();ov=oo.createElement(k),
    er=oo.getElementsByTagName(k)[0];ov.async=1;ov.src=ie;er.parentNode.insertBefore(ov,er)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44022536-1', 'wookiehangover.com');
    ga('send', 'pageview');
    </script>
    <script src="../cursor-dust.js"></script>
  </body>
</html>
