<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Samuel Breed</title>
    <meta name="author" content="Samuel Breed">
    <meta name="description" content="sort of like a geocities page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../docs/style.css">
  </head>
  <body>
    <main class="mw7 pa3 pa4-ns center">
      <header>
        <a href="/">Back</a>
      </header>

      <section class="posts pb4">
      <% posts.forEach(post => { %>
        <%- include('./post_body.html', post) -%>
      <% }) %>
      </section>
    </main>

    <footer class="pv4 ph3 ph5-m ph6-l bg-washed-green o-80">
      <small class="f6 db tc"><b class="ttu">This is open source software</b>, Be kind rewind</small>
      <nav class="tc mt3">
        <div class="f6 dib mh2 link mid-gray">
          <span class="dib pr2 grow relative">📖 </span>
          <a href="https://twitter.com/sambreed" title="Follow me on Twitter">Sign my guestbook</a>
        </div>
        <div class="f6 dib mh2 link mid-gray">
          <span class="dib pr2 grow relative">😡 </span>
          <a href="https://github.com/wookiehangover/wookiehangover.com/issues/new" title="Complaints">Complaints</a>
        </div>
        <div class="f6 dib mh2 link mid-gray">
          <span class="dib pr2 grow relative">💁🏻 </span>
          <a href="mailto:samuel.breed@gmail.com" title="Send me an Email">Suggestions</a>
        </div>
      </nav>
    </footer>

    <div class="dust"></div>

    <script src="cursor-dust.js"></script>
  </body>
</html>
