<article id="<%= slug %>">
  <%- body -%>
  <footer class="mv2">
    <time>Last updated on <small><code class="pa1 bg-near-white mid-gray"><%= updatedAt %></code></small></time>
    <nav class="mv2 mv0-ns fr-ns">
      <a class="mr1" href="<%= permalink %>">Link</a>
      <a class="mr1" href="https://github.com/wookiehangover/wookiehangover.com/edit/master/<%= filename %>">Edit</a>
      <a class="mr1" href="https://github.com/wookiehangover/wookiehangover.com/commits/master/<%= filename %>">History</a>
    </nav>
  </footer>
</article>
