@import 'tachyons';
@import 'highlight.js/styles/solarized-dark.css';

html, body {
  height: 100%;
  min-height: 100%;
  @extend .bg-yellow;
}

.cooper {
  font-family: 'Cooper Std Black';
  letter-spacing: -0.1rem;
  line-height: 0.9;
}

/*
body {
  @extend .sans-serif;
  @extend .black;
  @extend .bg-white;
  cursor: url(/static/img/avatar-sm.png) 10 10, auto;
}

h1 { @extend .f1; }
h2 { @extend .f2; }
h3 {
  @extend .f3;
  @extend .dark-gray;
}

ul {
  list-style: circle;
}

a {
  @extend .near-black;
  text-decoration: none;
  border-bottom: 1px solid;
  border-bottom-color: #000;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='%23f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 3px;
  background-repeat: repeat-x;
  padding-bottom: 3px;
  border-bottom-color: transparent;
}

a.none:hover {
  padding: 0;
  background: none;
  border-bottome-color: #f00;
}

details[open] summary:active,
details summary:focus {
  outline: none;
  text-decoration: underline;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary:before {
  content: '🚀';
  display: inline-block;
  @extend .pr2;
}

details[open] summary:before {
  content: '💥';
}

a, details > summary {
  cursor: url(/static/img/avatar-pointer.png) 10 10, auto;
}

sup {
  font-size: 0.75rem;
  font-weight: normal;
}

sup > a {
  text-decoration: underline;
  border: none;
  box-shadow: none
}


body > header li {
  @extend .mv2;
}

section > ol > li,
section > ul > li {
  @extend .mv2;
}

i {
  @extend .measure;
  @extend .mv2;
}

section cite {
  @extend .fr;
}

body > footer {
  @extend .f6;
}

body > footer > ol > li {
  @extend .mv1;
}

body > footer > ol > li:target {
  color: #D62288;
}

article {
  @extend .f5;
  @extend .mv4;
}

article h1 {
  @extend .red;
}

.rainbows,
article > h2:hover {
  animation: rainbows 8s infinite;
  animation-direction: initial;
}

article li p {
  margin: 0 !important;
}

article aside,
article footer {
  @extend .f6;
  @extend .gray;
  @extend .mv4;
}

.b--rainbows {
  animation: border-rainbows 16s infinite;
  animation-direction: initial;
}

article blockquote {
  @extend .f3;
  @extend .mv3;
  @extend .i;
  @extend .mh0;
  @extend .pl3;
  @extend .bl;
  @extend .b--rainbows;
  @extend .lh-title;
}

article:before {
  content: "∴";
  display: block;
  text-align: center;
}

article fieldset {
  @extend .w-100;
  @extend .w5-ns;
  @extend .fr;
  @extend .mv4;
  @extend .mv0-ns;
}

article fieldset ul,
article fieldset li {
  margin: 0;
}

article code {
  @extend .ba;
  @extend .br1;
  @extend .b--black-10;
  @extend .pa1;
}

article pre code.hljs {
  border: none;
  @extend .pa3;
  @extend .br1;
}

.dust {
  position: fixed;
  @extend .absolute--fill;
  z-index: -2;
}

main {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -5rem;
}

main:after {
  content: '';
  display: block;
  height: 5rem;
}

body > footer:hover {
  opacity: 100;
}

body > footer > nav > div:hover .grow {
  transform: scale(1.6);
}

.bg-rainbows {
  animation: bg-rainbows 120s;
  animation-direction: initial;
}

.pre-code {
  animation: bg-rainbows 120s;
  animation-direction: initial;
  @extend .ba;
  @extend .br1;
  @extend .b--black-10;
  line-height: 1.1rem;
  cursor: text;
}

@keyframes bg-rainbows {
  0%    { background-color: #F6FFFE; }
  20%   { background-color: #E8FDF5; }
  40%   { background-color: #FFFCEB; }
  60%   { background-color: #FFDFDF; }
  80%   { background-color: #EEEEEE; }
  100%  { background-color: #F6FFFE; }
}

@keyframes rainbows {
  0%    { color: #ff4136; }
  33%   { color: rgb(255, 217, 102); }
  66%   { color: rgb(0, 240, 77); }
  100%  { color: #ff4136; }
} */

@keyframes border-rainbows {
  0%    { border-color: rgba(0, 14, 96, 10); }
  25%   { border-color: rgb(255, 0, 94); }
  50%   { border-color: rgb(255, 217, 102); }
  75%   { border-color: rgb(0, 240, 77); }
  100%  { border-color: rgba(0, 14, 96, 10); }
}

td {
  padding: 1rem;
  border: 1px solid grey;
}
